

Print multiplication tables using loops.

In [5]:
#Using while loop

Number = int(input ("Enter the number to print the multiplication table: "))
print(f"multiplication table of {Number}")
x = 1
while x <= 10 :
  print(f"{Number} * {x} = {Number * x}")
  x += 1

Enter the number to print the multiplication table: 5
multiplication table of 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [6]:
#using for loop

Number = int(input ("Enter the number to print the multiplication table: "))
print(f"multiplication table of {Number}")

for x in range(1,11):
    print(f"{Number} * {x} = {Number * x}")

Enter the number to print the multiplication table: 9
multiplication table of 9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

In [7]:
#using nested loop

Number = int(input("Enter the number to print the multiplication table: "))
print(f"Multiplication table of {Number}:\n")

for i in range(1, Number + 1):  # Outer loop (loops through numbers up to 'Number')
    print(f"\nMultiplication Table of {i}")

    for x in range(1, 11):  # Inner loop (for multiplication from 1 to 10)
        print(f"{i} * {x} = {i * x}")

Enter the number to print the multiplication table: 6
Multiplication table of 6:


Multiplication Table of 1
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

Multiplication Table of 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

Multiplication Table of 3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

Multiplication Table of 4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

Multiplication Table of 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

Multiplication Table of 6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60